/*Globla css Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 70px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-image: url(https://images.unsplash.com/photo-1538947081541-909e1d7792d2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 200px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 12px;
  border-radius: 999px;
  box-shadow: 0px 0px 7px rgb(49, 49, 49);
  transition: transform 0.25s ease,
}
img:hover {
  box-shadow: 0px 5px 30px #0dc5fd;
  transform: scale(1.04);
  transition: 0.3s ease;
}
/* Container Styles */

.container {
  background-color: rgba(255, 255, 255, 0);
  max-width: 1200px;
  margin: 60px auto 40px;
}
/* shear css */
.card {
  background-color: rgba(118, 190, 238, 0.281);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 7px rgb(49, 49, 49); 
}

/* Group Header Styles */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.185),rgba(118, 190, 238, 0.281));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  top: 0;
  height: 90px;
  width: 100%;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  color: #feffff;
  text-shadow:   2px 2px 0px rgb(0, 0, 0);
  font-size: 20px;
}
.list-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.list-menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  /* ฐาน */
  transition: transform 0.25s ease,
}

.list-menu a:hover {
  border-bottom: #4989c477 3px solid;
  box-shadow: 0px 0px 7px rgb(49, 49, 49);
  text-shadow: 0px 0px 8px lightblue;
  transform: scale(1.05) translateY(-5px);
  transition: 0.3s;
}

/* Group 1 */
.card.moduol-1 {
  display: flex;
  align-items: center;
  padding: 40px 60px;
}
.card.moduol-1 h1 {
  font-size: 50px;
  line-height: 1.3;
  white-space: nowrap;
    color: #e0f2fe;
  text-shadow:
    0 0 10px rgba(56,189,248,0.6),
    0 0 30px rgba(14,165,233,0.4);
}
.card.moduol-1 h3 {
  background: linear-gradient(to bottom, #0F2854, #1C4D8D, #4988C4, #BDE8F5);
  -webkit-background-clip: text;
  color: #ffffff00;
  font-size: 30px;
}
.card.moduol-1 p {
  background: linear-gradient(to top, #0F2854, #1C4D8D, #4988C4, #BDE8F5);
  font-size: 25px;
  -webkit-background-clip: text;
  color: #ffffff00;

}
.Profile-name {
  margin-top: 70px;
}
.Profile-img {
  height: 400px;
  width: 400px;
  margin-left: 130px;
}
/* Group 2 */
.card.moduol-2 {
  padding: 50px 20px;
}
.card.moduol-2 h2 {
  color: #0F2854;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}
.distance {
  transition: transform 0.25s ease,
}
.distance:hover {
  transform: scale(1.01);
  transition: 0.3s;
}
.row  {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 5px;
    margin: 2px 5px;
    width: auto;
    margin-bottom: 50px;
}
.row p {
    background-color: rgba(104, 107, 110, 0.232);
    border-radius: 4px;
    margin: 2px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}
.row .head {
  background-color: #4989c48f;
}
.card.moduol-2 h3 {
    text-align: center;
    margin: 1px 5px; 
    background-color: rgb(55, 93, 125);
    color: #e0f2fe;
    padding: 5px;
    border-radius: 5px;
}

/* Group 3 */ 
.card.moduol-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.card.moduol-3 .card  {
  text-align: center;
  max-width: 300px;
  min-height: 430px;
  margin-top: 50px;
  transition: transform 0.3s ease;

}
.card.moduol-3 .card:hover  {
  transform: scale(1.05);
  transition: 0.2s;
}
.card.moduol-3 img {
  width: 200px;
  height: 200px;
}

.back-link {
  display: block;
  margin: 15px;
  text-decoration: none;
  color: rgb(2, 2, 2);
  border-radius: 12px;
  padding: 10px;
  font-weight: bold;
  background-color: rgba(118, 190, 238, 0.281);
    box-shadow: 0px 0px 5px rgb(0, 0, 0);

  text-align: center;
}
.back-link:hover {
  text-decoration: none;
  color: rgb(173, 235, 204);
  background-color: rgb(34, 34, 34);
}
