* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans Thai", sans-serif;
  background-color: rgb(216, 217, 218);
}
.wrapper {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}
img {
  width: 90px;
  height: 90px;
}
/*================================================================================================*/
/* header style*/
/*===============================================================================================*/
.site-header {
  background-color: rgb(255, 255, 255);
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.site-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.site-subtitle {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(92, 92, 92);
}
a {
  text-decoration: none;
  color: rgb(17, 32, 255);
}
.header-left {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.icon a {
  font-size: 1rem;
  font-weight: 600;
  color: #555;
  border-radius: 40px;
  display: inline-flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  margin: 5px;
  box-shadow: 0 0 9px #8d8d8d;
}
.icon a:hover {
  background-color: rgb(107, 107, 107);
  box-shadow: 0 0 9px #000000;
  color: white;
  transform: translateY(-5px);
}
/*===========================================================================*/
/* nav style */
/*===========================================================================*/
.main-nav {
  background-color: rgb(192, 192, 192);
}
.nav-menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;
  align-items: center;*/
}
.nav-menu li a {
  color: black;
  font-size: 0.91rem;
  font-weight: 700;
  display: block;
  padding: 10px 20px;
}
.nav-menu li a:hover {
  background-color: rgb(190, 190, 190);
  color: white;
}
/*===========================================================================*/
/* Hero style */
/*===========================================================================*/
.hero-content {
  background-color: rgb(128, 128, 128);
  padding: 20px;
  box-shadow: 0px 2px 8px#555;
}
.hero-title {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-shadow: 0 2px 4px;
  text-align: center;
  margin-bottom: 20px;
}
.hero-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(350px, 1fr));

  /*
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    */
}
.hero-item {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.486);

  backdrop-filter: blur(10px);
  /* เพิ่มความเบลอพื้นหลังด้านหลังไอเท็ม */

  transition: all 0.3s ease;

  /*overflow: hidden; /* ซ่อนส่วนที่เกินขอบเขตของกล่อง */
}

.hero-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0px 15px rgb(255, 250, 250);
  background: white;
}

.hero-item h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  line-height: 1.3;
  margin-bottom: 5px;
}

.hero-item p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}
.img-card {
  width: 100%;
  height: 350px;
  margin-bottom: 30px;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 40px 100px;
  box-shadow: 0px 2px 15px#ffffff;
}
