/*Globla css Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-image: url(https://img.freepik.com/free-vector/flat-sky-background_23-2148032669.jpg?semt=ais_hybrid&w=740&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #ffbbbb;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 200px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 12px;
}

/* Container Styles */

.container {
  background-color: rgba(255, 255, 255, 0);
  max-width: 1200px;
  margin: 200px auto 40px;
}

/* Group1 Header Styles */
header {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 2px 5px 10px rgb(228, 227, 227);
}

.list-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 10px auto;
}

.list-menu li {
  margin-top: 15px;
  transition: transform 1.3s ease;
}

.list-menu li:hover {
  transform: translatey(-10px);
}

.list-menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background: linear-gradient(135deg, red, pink);
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0px 0px 7px rgb(49, 49, 49);
}

.list-menu a:hover {
  background: linear-gradient(135deg, rgb(55, 0, 255), rgb(133, 133, 209));
}

h1 {
  color: red;
}

/* shear css */
code {
  background-color: rgb(219, 219, 219);
  border-radius: 4px;
  padding: 2px 4px;
}

.card {
  background-color: rgb(255, 255, 255);
  border-top: rgb(255, 0, 102) 5px solid;
  padding: 20px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}

pre {
  background-color: #f2f2f2;
  border-left: 5px solid rgb(255, 0, 102);
  font-size: 16px;
  padding: 20px;
  white-space: pre-wrap;
  border-radius: 5px;
}

.img-small {
  padding: 10px;
}

.badge {
  background-color: rgb(0, 89, 255);
  border-radius: 10px;
  font-size: small;
  color: rgb(255, 255, 255);
  padding: 1px 5px;
  vertical-align: middle;
}

/* Group 3 */
.img-small {
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 7px rgb(49, 49, 49);
}

.position {
  display: flex;
  align-items: center;
  border: rgb(128, 207, 0) 3px dashed;
  margin: 15px;
}

.position.left {
  justify-content: left;
}

.position.center {
  justify-content: center;
}

.position.right {
  justify-content: right;
}

/* Group 4 */
.img-fixed {
  width: 260px;
  height: 160px;
  object-fit: cover;
  margin-top: 15px;
}

/*Group 4 */
.obj-fit-image {
  width: 800px;
  height: 200px;
  border: 1px solid black;
}

.obj-fit-image.contain {
  object-fit: contain;
}

.obj-fit-image.fill {
  object-fit: fill;
}

.obj-fit-image.cover {
  object-fit: cover;
}

/* Group 6 */
.img-youtube img {
  width: 260px;
  border-radius: 12px;
  margin: 20px 0;
  transition: 0.3;
}

.img-youtube img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 7px rgb(49, 49, 49);
}

/* Group 6 */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 12px;
}

.gallery img {
  height: 120px;
  width: 100%;
  object-fit: cover;
}
/* Group 7 */
figure {
  text-align: center;
}
/* Group 9 */
.bg-image {
  background-image: url(https://img.freepik.com/premium-vector/white-bg_1318093-13247.jpg?semt=ais_hybrid&w=740&q=80);
}
.back-link {
  display: block;
  margin: 15px;
  text-decoration: none;
  color: rgb(255, 250, 250);
  border-radius: 12px;
  padding: 10px;
  font-weight: bold;
  background-color: rgb(148, 148, 148);
  text-align: center;
}
.back-link:hover {
  text-decoration: none;
  color: rgb(173, 235, 204);
  background-color: rgb(34, 34, 34);
}
